@import url('./reset.css');

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    border: 1px solid grey;
    row-gap: 20px;
    padding: 20px;
}

.product__img img{
    max-width: 400px;
    width: 100%;
}


.card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #70c05b;
    padding: 10px;
    text-align: center;
    border: 1px solid #70c05b;
    border-radius: 4px;
    cursor: pointer; 
    transition: 0.2s;
    margin-top: auto;
}

.card__add:hover, .card__add.active {
    border: 1px solid #ff6633;
    background-color: #ff6633;
    color: #fff;
}


.home{
    position: absolute;
    top: 10px;
    right: 5px;
}


